@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  height: 312px;
  background-color: #2f1f15;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  gap: 50px;
}
header img{
  width: 150px;
  margin-left: -150px;
}
header nav{
  padding: 10px 10px;
  background-color: #704336;
  border-radius: 15px;
  display: flex;
  gap: 35px;
}
header nav a{
  height: 100%;
  text-decoration: none;
  color: #dcdada;
  font-family: 'Exo 2', sans-serif;
}
.message{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message h1{
  font-size: 50px;
  color: #dcdada;
  font-family: 'Indie Flower', cursive;
}
.message h2{
  margin-top: -15px;
  font-size: 28px;
  color: #dcdada;
  font-family: 'Satisfy', cursive;
}
.content{
  width: 100%;
  background-color: #dcbca0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-img{
  width: 250px;
  height: 250px;
  padding: 25px;
}
.content-img img{
  width: 100%;
  border: 2px solid #2f1f15;
  border-radius: 25px;
}